
.custom-navbar {
  background-color: #2C3E50;
  
}

.custom-navbar .nav-link {
  transition: all 0.3s ease;
}

.custom-navbar .nav-link.active {
  background-color: #1a9c8d;
  border-radius: 0.5rem;
}

.custom-navbar .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
}
